<div class="menu-container">
    <div class="big-padding">

        <h2 class="bold"><b class="primary">RED</b> THEMES</h2>
    </div>
    <ul class="menu-list">
        <li class="flex-item-center padding" [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <div class="medium-gap"></div>
            <span>Home</span>
        </li>
        <li class="flex-item-center padding">
            <mat-icon>class</mat-icon>
            <div class="medium-gap"></div>
            <span>Products</span>
        </li>
        <li class="flex-item-center padding">
            <mat-icon>contact_phone</mat-icon>
            <div class="medium-gap"></div>
            <span>Contact-us</span>
        </li>
    </ul>
</div>