.menu-icon {
  display: none;
}
.header-container{
  padding: 10px 40px;
  height: 60px;
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  .menu-icon {
    display: block;
  }
  .menu{
    display: none;
  }
  .web-view{
    display: none;
  }
}
