<div class="slider-grid-container">
    <div class="full-width full-height">
        <img class="border-radius box-shadow scale-effect"
            src="https://image.freepik.com/free-psd/bio-food-banner-template-with-photo_23-2148211570.jpg" 
            width="100%" alt="image" />
    </div>
    <div class="full-width full-height">
        <img class="border-radius box-shadow scale-effect" src="https://cdn.nohat.cc/thumb/f/720/0fec843cd5c84a2d9514.jpg"
             width="100%" alt="image" />
    </div>
    <div class="full-width full-height">
        <img class="border-radius box-shadow scale-effect"
            src="https://image.freepik.com/free-psd/bio-food-banner-template-with-photo_23-2148211545.jpg" 
            width="100%" alt="image" />
    </div>
    <div class="full-width full-height">
        <img class="border-radius box-shadow scale-effect"
            src="https://cdn.nohat.cc/thumb/f/720/0fec843cd5c84a2d9514.jpg" 
            width="100%" alt="image" />
    </div>
</div>