<div class="flex-middle-column card-background big-padding">
    <div class="vertical-height"></div>
    <div class="small-vertical-height"></div>
    <h1 class="bold"><b class="primary">RED</b> THEMES</h1>
    <div class="vertical-height"></div>

    <div class="flex-with-space-between">
        <img src="https://img.icons8.com/plasticine/40/000000/facebook-new.png">
        <span class="small-gap"></span>
        <img src="https://img.icons8.com/plasticine/40/000000/youtube.png">
        <span class="small-gap"></span>
        <img src="https://img.icons8.com/plasticine/40/000000/github.png" >
        <span class="small-gap"></span>
        <img src="https://img.icons8.com/plasticine/40/000000/google-logo.png">
    </div>
    <div class="vertical-height"></div>
    <span>@RED THEMES, All rights resevred</span>
</div>